<div id="about" class="max-w-screen-md mx-auto mt-4 mb-10 p-6">
  <h1 class="mt-6 mb-4 text-3xl font-bold text-blue-400 text-opacity-50">About me</h1>
  <div class="px-2 py-4">
    <h3 class="text-gray-100 text-base font-bold mb-2">Who I am?</h3>
    <p class="text-gray-500 text-pretty">
      I am Brayan David Avila Orozco, a passionate software developer from
      Montería, Colombia. At 17 years old, I have immersed myself in the field
      of web development, discovering a fascinating world where technology
      serves as a transformative tool.
      <br />
      My primary focus is on front-end development, where I integrate technological
      innovation with design to create attractive and functional user interfaces.
      I have developed skills in HTML, CSS, JavaScript, and React, with a growing
      interest in modern frameworks like Expo and advanced styling tools like Tailwind
      CSS.
      <br />
      I am committed to continuous learning, constantly enhancing my technical abilities
      to deliver high-quality solutions. My goal is to leverage technology to improve
      user experiences and operational efficiency in software development. I strive
      to solve complex problems with innovative solutions that enhance both aesthetics
      and functionality.
      <br />
      I am excited about the challenges and opportunities ahead in my web development
      career. Every day is an opportunity to learn and grow, and I am eager to contribute
      to the software world with my passion for creating visually appealing and technically
      excellent user interfaces.
    </p>
    <div class="mt-4">
      <p class="text-gray-100 text-base">
        <span class="font-semibold mb-2">Skills:</span>
        <ul class="list-none text-gray-500 flex flex-wrap gap-4">
          <li>
            <i class="fab fa-html5"></i> HTML
          </li>
          <li>
            <i class="fab fa-css3-alt"></i> CSS
          </li>
          <li>
            <i class="fab fa-js"></i> JavaScript
          </li>
          <li>
            <i class="fab fa-php"></i> Php
          </li>
          <li>
            <i class="fab fa-react"></i> React
          </li>
          <li>
            <i class="fas fa-database"></i> MySQL
          </li>
          <li>
            <i class="fas fa-code"></i> Astro
          </li>
          <li>
            <i class="fas fa-code"></i> Tailwind CSS
          </li>
          <li>
            <i class="fab fa-github"></i> GitHub
          </li>
          <li>
            <i class="fab fa-git"></i> Git
          </li>
        </ul>
      </p>
    </div>
    <div class="mt-4">
      <p class="text-gray-100 text-base">
        <span class="font-semibold mb-2">Language:</span>
        <ul class="list-none text-gray-500 flex gap-4">
          <li>
            <i class="fas fa-check text-green-500"></i> Spanish: <strong
              >Native</strong
            >
          </li>
          <li>
            <i class="fas fa-check text-green-500"></i> English: <strong
              >Basic</strong
            >
          </li>
        </ul>
      </p>
    </div>
    <div class="mt-4">
      <p class="text-gray-100 text-base">
        <span class="font-semibold mb-2">Contact:</span>
        <ul class="list-none text-gray-500 flex gap-4">
          <li class="text-indigo-500">
            <a href="mailto:brayandavidavilaorozco@gmail.com">
              <i class="fas fa-envelope"></i> Email
            </a>
          </li>
          <li class="text-indigo-500">
            <a href="tel:+573015658710">
              <i class="fas fa-phone"></i> Phone
            </a>
          </li>
          <li class="text-indigo-500">
            <a
              href="https://www.linkedin.com/in//brayan-avila-1223bb26b/"
              target="_blank"
            >
              <i class="fab fa-linkedin"></i>
              LinkedIn
            </a>
          </li>
          <li class="text-indigo-500">
            <a href="https://www.github.com/brayanavila14/" target="_blank">
              <i class="fab fa-github"></i>
              GitHub
            </a>
          </li>
        </ul>
      </p>
    </div>
  </div>
</div>
