<footer class="bg-transparent relative bottom-0">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="py-4 text-center">
      <p class="text-sm text-gray-500">
        © 2024 Brayan David Avila Orozco. All rights reserved.
      </p>
    </div>
  </div>
</footer>
