<footer class="bg-transparent relative bottom-0 py-4 text-center">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <p class="text-sm text-gray-500">
      © 2024 Brayan David Avila Orozco. All rights reserved.
    </p>
  </div>
</footer>