---
const links = [
  { name: "Home", href: "./" },
  { name: "Projects", href: "#projects" },
  { name: "About", href: "#about" },
];
---

<header class="border-b border-b-blue-400 border-opacity-30">
  <div class="flex p-3 gap-4 sm:gap-8">
    <a href="./" class="text-blue-400 text-opacity-50">
      <i class="fas fa-code"></i>
    </a>
    <div class="flex items-center gap-3 sm:gap-5">
      {
        links.map((link) => (
          <a
            href={link.href}
            class="active:filter active:brightness-150 hover:underline hover:text-blue-400"
          >
            {link.name}
          </a>
        ))
      }
    </div>
  </div>
</header>
