---
const links = [
  { name: "Home", href: "./" },
  { name: "Projects", href: "#projects" },
  { name: "About", href: "#about" },
];
---

<nav
  class="flex items-center w-full px-4 sm:px-4 border-b border-b-blue-400 border-opacity-30"
>
  <div class="sm:p-2 justify-center font-bold text-blue-400 text-opacity-50">
    <i class="fas fa-code"></i>
  </div>
  <ul class="flex items-center gap-2 sm:gap-6 ml-6">
    {
      links.map((link) => (
        <li>
          <a
            href={link.href}
            class="p-1 font-semibold text-gray-100 hover:text-blue-400 hover:underline hover:text-opacity-50 active:brightness-150"
          >
            {link.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
