<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./favicon.svg" type="image/x-icon" />
    <title>Portfolio - Brayan David Avila Orozco</title>
  </head>
  <body
    class="relative h-full w-full bg-slate-950 overflow-x-hidden text-gray-100"
  >
    <slot />
  </body>
</html>
