<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./favicon.svg" type="image/x-icon" />
    <title>Portfolio - Brayan David Avila Orozco</title>
  </head>
  <body
    class="relative h-full w-full bg-slate-950 overflow-x-hidden text-gray-100"
  >
    <div
      class="absolute bottom-0 left-[-20%] right-0 top-0 sm:h-[300px] sm:w-[300px] md:h-[400px] md:w-[400px] lg:h-[500px] lg:w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(70,130,180,.15),rgba(255,255,255,0))]"
    >
    </div>
    <div class="z-10">
      <slot />
    </div>
    <div
      class="absolute bottom-0 right-[-20%] top-[-10%] sm:h-[300px] sm:w-[300px] md:h-[400px] md:w-[400px] lg:h-[500px] lg:w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(70,130,180,.15),rgba(255,255,255,0))]"
    >
    </div>
  </body>
</html>
